[submodule "Urho3D/Source"]
	path = Urho3D/Source
	url = git@github.com:DskowFromCrs/Urho3D.git
[submodule "Samples"]
	path = Samples
	url = git@github.com:dskow-publishing-llcxamarin/urho-samples.git
